*.java linguist-language=java 
*.c linguist-language=c 
*.cpp linguist-language=c++  
*.h linguist-language=c++  
*.js linguist-language=js  
*.css linguist-language=css  
*.html linguist-language=html  
