*.java linguist-language=android
*.java linguist-language=android
*.c linguist-language=android
*.cpp linguist-language=android
*.h linguist-language=android
*.js linguist-language=android
*.css linguist-language=android
*.html linguist-language=android
